@model Fall2025_Project3_bdstevens2.ViewModels.ActorDetailViewModel

@{
    ViewData["Title"] = "Actor Details";
}

<h1 class="details-title">@Model.Actor.Name</h1>

<div>
    <dl class="details-dl">

        <div class="details-center-group">
            <dt>
                @Html.DisplayNameFor(model => model.Actor.Gender):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Actor.Gender)
            </dd>
            <span style="margin: 0 10px;">|</span> <dt>
                @Html.DisplayNameFor(model => model.Actor.Age):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Actor.Age)
            </dd>
        </div>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.ImdbUrl)
        </dt>
        <dd>
            <a href="@Model.Actor.ImdbUrl" target="_blank">@Model.Actor.ImdbUrl</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd>
            @if (Model.Actor.Photo != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.Actor.Photo);
                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Actor Photo" />
            }
            else
            {
                <span>No Photo Available</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a class="btn-action btn-action-edit" asp-action="Edit" asp-route-id="@Model.Actor.Id">Edit</a>
    <a class="btn-action btn-action-details" asp-action="Index">Back to List</a>
</div>

<h4 class="section-heading">Appears In</h4>
<div class="details-list">
    @if (Model.Movies.Any())
    {
        <ul>
            @foreach (var movie in Model.Movies)
            {
                <li>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>This actor is not listed in any movies yet.</p>
    }
</div>

<h4 class="section-heading">AI-Generated "Twitter" API Feed</h4>
<h4 class="sub-heading">Overall Sentiment Score: @Model.OverallSentiment.ToString("F2")</h4>

<table class="table">
    <thead>
        <tr>
            <th>Tweet</th>
            <th>Sentiment Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tweet in Model.Tweets)
        {
            <tr>
                <td>@tweet.Text</td>
                <td>@tweet.Sentiment.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>