@model Fall2025_Project3_bdstevens2.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<h1 class="details-title">@Model.Movie.Title</h1>

<div>
    <dl class="details-dl">

        <div class="details-center-group">
            <dt>
                @Html.DisplayNameFor(model => model.Movie.Genre):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Movie.Genre)
            </dd>
            <span style="margin: 0 10px;">|</span> <dt>
                @Html.DisplayNameFor(model => model.Movie.ReleaseYear):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Movie.ReleaseYear)
            </dd>
        </div>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.ImdbUrl)
        </dt>
        <dd>
            <a href="@Model.Movie.ImdbUrl" target="_blank">@Model.Movie.ImdbUrl</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Poster)
        </dt>
        <dd>
            @if (Model.Movie.Poster != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.Movie.Poster);
                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Movie Poster" />
            }
            else
            {
                <span>No Poster Available</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a class="btn-action btn-action-edit" asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a>
    <a class="btn-action btn-action-details" asp-action="Index">Back to List</a>
</div>

<h4 class="section-heading">Actors in this Movie</h4>
<div class="details-list">
    @if (Model.Actors.Any())
    {
        <ul>
            @foreach (var actor in Model.Actors)
            {
                <li>
                    <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No actors listed for this movie.</p>
    }
</div>

<h4 class="section-heading">AI-Generated Reviews</h4>
<h4 class="sub-heading">Overall Sentiment Score: @Model.OverallSentiment.ToString("F2")</h4>

<table class="table">
    <thead>
        <tr>
            <th>Review</th>
            <th>Sentiment Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Text</td>
                <td>@review.Sentiment.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>