@model Fall2025_Project3_bdstevens2.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImdbUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Movie.ImdbUrl" target="_blank">@Model.Movie.ImdbUrl</a>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseYear)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Poster)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Movie.Poster != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.Movie.Poster);
                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Movie Poster" style="max-width: 200px;" />
            }
            else
            {
                <span>No Poster Available</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<h4>Actors in this Movie</h4>
@if (Model.Actors.Any())
{
    <ul>
        @foreach (var actor in Model.Actors)
        {
            <li>
                <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.Name</a>
            </li>
        }
    </ul>
}
else
{
    <p>No actors listed for this movie.</p>
}

<hr />
<h4>AI-Generated Reviews</h4>

<h5>Overall Sentiment Score: @Model.OverallSentiment.ToString("F2")</h5>

<table class="table">
    <thead>
        <tr>
            <th>Review</th>
            <th>Sentiment Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Text</td>
                <td>@review.Sentiment.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>