@model Fall2025_Project3_bdstevens2.Models.MovieActor

@{
    ViewData["Title"] = "Relationship Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Movie-Actor Relationship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieId">@Model.Movie.Title</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Actors" asp-action="Details" asp-route-id="@Model.ActorId">@Model.Actor.Name</a>
        </dd>
    </dl>
</div>
<div>
    <a class="btn-action btn-action-edit" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn-action btn-action-details" asp-action="Index">Back to List</a>
</div>