@model IEnumerable<Fall2025_Project3_bdstevens2.Models.MovieActor>

@{
    ViewData["Title"] = "Relationships";
}

<h1>Relationships</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.Name)
                </td>

                <td>
                    <a class="btn-action btn-action-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn-action btn-action-details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn-action btn-action-delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>